.uploading-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar {
  width: 80%;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.filler-bar {
  width: 0;
  height: 100%;
  background-color: #007bff;
  transition: width 0.1s ease-in-out;
}
